<title>Suda Salf</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
/>
<link rel="icon" href="/img/logo.png" type="image/png">

<link href="/lib/fontawesome/css/fontawesome-all.min.css" rel='stylesheet' type='text/css' />
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<script src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>

<link href="/css/font-awesome.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

<script src="/js/bootstrap.js"></script>

<script src="/js/easyResponsiveTabs.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="/lib/DataTables-1.10.16/css/dataTables.bootstrap.css" />

<script type="text/javascript" src="/lib/DataTables-1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/lib/DataTables-1.10.16/js/dataTables.bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="/lib/jquery-ui-1.12.1.custom/jquery-ui.css" />
<script type="text/javascript" src="/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<link href="/myCSS/mymain.css" rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css" href="/admin/css/admin_main.css" />

<script type="text/javascript" src="/admin/js/admin_main.js"></script>

