<div class="footer">
		<div class="container">
			<div class="col-md-3 footer-grid">
				<h3>About Us</h3>
				<p>We are trying to help out the students, faculty and families of the related people inside NUST. Now, you people don't need to go to the concordias or cafes. You can order and get your required thing at your doorstep.</p>
			</div>
			<div class="col-md-3 footer-grid ">
				<h3>Menu</h3>
				<ul>
					<li>
						<a href="index.php">Home</a>
					</li>
					<li>
						<a href="kitchen.php">Kitchen</a>
					</li>
					<li>
						<a href="care.php">Personal Care</a>
					</li>
					<li>
						<a href="hold.php">Household</a>
					</li>
					<li>
						<a href="codes.php">Short Codes</a>
					</li>
					<li>
						<a href="contact.php">Contact</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid ">
				<h3>Customer Services</h3>
				<ul>
					<li>
						<a href="FAQ.php">FAQ</a>
					</li>
					<li>
						<a href="terms.php">Terms & Conditions</a>
					</li>
					
					<li>
						<a href="contact.php">Contact</a>
					</li>
					<li>
						<a href="offer.php">Online Shopping</a>
					</li>
	
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>My Account</h3>
				<ul>
					<li>
						<a href="login.php">Login</a>
					</li>
					<li>
						<a href="register.php">Register</a>
					</li>
					<li>
						<a href="checkout.php">Wishlist</a>
					</li>
	
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="footer-bottom">
				<h2>
					<a href="index.php">
						<!-- <b>T
							<br>H
							<br>E</b> -->
							Suda Salf
						<span>The Best Delivery System</span>
					</a>
				</h2>
				<p class="fo-para">Have all the delicacies of C1, C2 and C3 as well as Jango, Cafe 309 and The Wall at your footsteps!</p>
				<ul class="social-fo">
					<li>
						<a href="https://www.facebook.com/sudasalf" class=" face">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://www.twitter.com/sudasalf" class=" twi">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://www.pinterest.com/sudasalf" class=" pin">
							<i class="fa fa-pinterest-p" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://www.dribbble.com/sudasalf" class=" dri">
							<i class="fa fa-dribbble" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
						<p>
							<i class="fa fa-home" aria-hidden="true"></i>NUST H-12, Islamabad</p>
					</div>
					<div class="col-md-4 fo-grid1">
						<p>
							<i class="fa fa-phone" aria-hidden="true"></i>+923155490285</p>
					</div>
					<div class="col-md-4 fo-grid1">
						<p>
							<a href="mailto:info@example.com">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>info@sudasalf.com</a>
						</p>
					</div>
					<div class="clearfix"></div>
	
				</div>
			</div>
			<div class="copy-right">
				<p> &copy; 2016 Big store. All Rights Reserved | Design by
					<a href="http://w3layouts.com/"> W3layouts</a><br><br>
				 &copy; 2018 Suda Salf. All Rights Reserved| Redesigned by 
					<a href="contact.php"> Hawks</a>
				</p>
			</div>
		</div>
	</div>
	
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	
	

<?php
include_once('phpScripts/server_logging.php');
?>